@page "/counter"

<h3>Counter</h3>
<br />
@* <b>Server Interactivity</b>
<WebAssemblyDemo.Client.Pages.CounterComponent @rendermode="InteractiveServer"></WebAssemblyDemo.Client.Pages.CounterComponent>

<br />
<br />
<br />
<br /> *@
<b>Webassembly Interactivity</b>
<WebAssemblyDemo.Client.Controls.CounterComponent @rendermode="InteractiveWebAssembly"></WebAssemblyDemo.Client.Controls.CounterComponent>

@code {

}
