@page "/todolist"


@rendermode InteractiveServer

<h3>To Do</h3>
<br />
<button type="button" class="btn btn-primary mb-3" @onclick="AddTask">Add Task</button>

@if(items != null && items.Count > 0)
{
    <ul class="list-unstyled">
        <ItemsListComponent Items="items"></ItemsListComponent>
    </ul>
}
else
{
    <p>No items found.</p>
}



@code {
    private List<ToDoItem> items = ToDoItemsRepository.GetItems();

    private void AddTask()
    {
        ToDoItemsRepository.AddItem(new ToDoItem {Name = "New Task"});
        items = ToDoItemsRepository.GetItems();
    }
}
