@inject NavigationManager NavigationManager;

@* @if(this.servers != null && this.servers.Count > 0)
{
    <ul class="list-unstyled">
        <Virtualize Items="this.servers" Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Virtualize>

    </ul>
} *@
<table class="table table-striped">
    <RepeaterComponent Items="this.servers">
        <Header>
            <thead>
                <th>Name</th>
                <th>City</th>
                <th>Status</th>
                <th>People Online</th>
                <th></th>
                <th></th>
            </thead>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server"></ServerComponent>
        </Row>
    </RepeaterComponent>
</table>
@* <br />
<button type="button" class="btn btn-primary mb-2" @onclick="@(()=>{})">Refresh</button> *@


@code {

    [Parameter]
    public string? CityName { get; set; }

    [Parameter]
    public string SearchFilter { get; set; } = "";

    private List<Server>? servers;

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(this.SearchFilter))
        {
            servers = ServersRepository.GetServersByCity(CityName ?? "Toronto");
        }
        else
        {
            servers = ServersRepository.SearchServers(this.SearchFilter);
        }
    }
}
